body{
    background-image: url(../images/haikei1.jpg);
    background-size:cover;
}
.logo{
    font-size: 50px;
    text-align: center;
}
.hyou{
    font-size: 30px;
    font-family: sans-serif,serif;
}
.sub-logo{
    font-size: 40px;
}
