header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    font-size: 45px;
}
.list{
    width: 170px;
    height: 130px;
    background-color: darkgray;
}
.list h1{
    font-size: 25px;
}
body{
    background-image:url(../images/haikei1.jpg) ;
    background-size: cover;
}
